Package: umanipulator
Version: 1
Section: gnome
Priority: optional
Architecture: all
Depends: libqtcore4, libqtgui4
Maintainer: hamid.mirisaee@gmail.com, jbotnascimento@gmail.com, raraujo.oliveira@gmail.com
Description: Micro image editor
 Image manipulation tool.
